# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temp directory & db files
tmp/
*.db

# Unit tests
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/